<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178394532522-6q55lktl470jmha0qddcev7gubratblv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178394532522-6q55lktl470jmha0qddcev7gubratblv</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>178394532522-i4lpp3v0vrtcdm48f89irgivjmu44kvq.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk4U-uhUUWwvqFsEMKtvKhSm6czUxdgGk</string>
	<key>GCM_SENDER_ID</key>
	<string>178394532522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.powersl.sitediary.ios</string>
	<key>PROJECT_ID</key>
	<string>psleform</string>
	<key>STORAGE_BUCKET</key>
	<string>psleform.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178394532522:ios:a9069a7a39fbb6c9</string>
	<key>DATABASE_URL</key>
	<string>https://psleform.firebaseio.com</string>
</dict>
</plist>